/* Definir o conjunto de caracteres */
@charset "UTF-8";
/* Importar fonte personalizada */
@font-face {
    font-family: "roboto";
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf") format("opentype");
}
/* Reset de estilos para todos os elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Definir fonte base e tamanho padrão para o HTML */
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#c1c1c1  ;    
}
main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #111, #323232, #5f5f5f, #a0a0a0, #dfdfdf);
    display: grid;
    padding: 15px;
}
div.conteiner-form{
    width: 550px;
    background-color: red;
    height: 400px;
    align-self: center;
    justify-self: center;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background-color: #1b1b1b80;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px ;
}
div.conteiner-form div.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #e6e6e6; 
}
div.conteiner-form div.login-form h2{
    margin-top: 10px; 
}
div.conteiner-form div.login-form p{
    color: #808080;
}
div.conteiner-form div.form-fields{
    width: 65%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;margin-top: 20px;   
}
main div.conteiner-form div.form-fields div.form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2.2rem;
    margin: 5px 0;
    color: #e6e6e6;
    font-weight: 600;  
}
main div.conteiner-form div.form-fields div.form-group input{
    width: 250px;
    height: 30px;
    outline: none;
    background-color: #111111cc;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
    color: #e6e6e6;
}
main div.conteiner-form div.form-fields div.form-group input::placeholder{
    color: #e6e6e6cb;
    font-family: 'roboto';
}
main div.conteiner-form div.form-actions{
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
}
main div.conteiner-form div.form-actions .actions{ 
    width: 250px;
    margin-top: 5px;
    display: flex; 
    align-items: center;
    justify-content: space-between; 
}
main div.conteiner-form div.form-actions .actions p a{
    color: #e6e6e6;
    text-decoration: underline;
    font-size: 1.5rem; 
    font-weight: 600;
}
main div.conteiner-form div.form-actions .actions input{
    width: 60px;
    height: 23px;
    font-family: 'roboto';
    font-size: 1.4rem;
    color: #e6e6e6;
    background-color: #111;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    outline: none;
    cursor: pointer;
    font-weight: 600;  
}
main div.conteiner-form div.form-actions .actions input:hover{
    background-color: #e6e6e6;
    color: #111;
    transition: 1s;

}
main div.conteiner-form div.form-actions p.option{
    margin: 10px 0;
    font-size: 2.4rem;
    color: #808080;
}
main div.conteiner-form div.form-actions div.action p a{
    color: #e6e6e6;
    font-size: 2.2rem; 
    font-weight: 600;
    height: 30px;
    outline: none;
    background-color: #111111cc;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
main div.conteiner-form div.form-actions div.action p a:hover{
        background-color: #e6e6e6;
        color: #111; 
        transition: 1s;
   
}


